<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        
        	<div class="d-flex justify-content-between">
        		
        		<div>
        			<!-- post , comment, 관심 category, 등  -->
        		</div>
        		
        		<div>
        			<!-- joinrequest, joinflag 등을 보여주고, 수락 , 거절 등의 버튼이 위치해야함. -->
        		</div>
        	
        	</div>
        
        
        </section>
        
        
        
        <script layout:fragment="script">
        
        </script>
        
</html>