<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        <!--  게시글 작성 페이지,  summernote 분석해서 적용하자.
        그 전에 일단 기본적인 input  구현해서 테스트 만 하는것도 괜찮다.  -->
       	    <div class="container mt-4">
		      <h2>게시글 작성</h2>
		      <form>
		      	<div>
		      		<label>제목</label><input type="text" id="titleInput" class="form-control col-8">
		      	</div>
		        <div class="form-group">
		          <label for="summernote">내용</label>
		          <div id="summernote"></div>
		        </div>
		        <input type="hidden" id="categoryIdInput" th:value="${categoryId}">
		        
		        <!--  우선 토글을 통해서 
		        	인풋창을 보이기 안보이기 를 조절해보자 -->
		        
		        <div class="joinflagInput">
		        
		        	<button type="button" class="btn btn-sm btn-primary" onclick="toggleInput()">입력창 토글</button>
		        	
		        	<div id="toggleInputDiv" class="mt-2" style="display: none;">
					    <input type="number" class="form-control" id="headcountInput" placeholder="인원수를 입력해주세요." value="0" min="0">
					</div>
		        	
		        </div>
		        
		        <button type="submit" id="saveBtn" class="btn btn-primary my-2" th:value="${categoryId}">저장</button>
		        
		        
		      </form>
		    </div>
			        	
        </section>
        
        
        
        <script layout:fragment="script">
	        function toggleInput() {
	            const inputDiv = document.getElementById("toggleInputDiv");
	            const input = document.getElementById("headcountInput");
	
	            if (inputDiv.style.display === "none") {
	                inputDiv.style.display = "block";
	            } else {
	                inputDiv.style.display = "none";
	                input.value = "0"; // 토글 꺼질 때 값 초기화
	            }
	        }


        
        
        	let uploadedImageUrl = null;
        
	        $(document).ready(function() {
	            $('#summernote').summernote({
	              placeholder: '내용을 입력하세요',
	              height: 300,
	              lang: 'ko-KR',
	              callbacks: {
	            	    onImageUpload: function(files) {
	            	      uploadImage(files[0]); // 이게 이미지 업로드 함수, 
	            	    }
	            	  }
	            });
	          });
	        
	        
	        function uploadImage(file) {
	            let formData = new FormData();
	            formData.append("file", file);

	            $.ajax({
	                type: "POST",
	                url: "/post/uploadimage",
	                data: formData,
	                contentType: false,
	                processData: false,
	                success: function(imageUrl) {
	                	
	                    $('#summernote').summernote('insertImage', imageUrl);
	                    uploadedImageUrl = imageUrl;
	                },
	                error: function() {
	                    alert("이미지 업로드 실패");
	                }
	            });
	        }

	        
	        $("#saveBtn").on("click", function(e){
	        	e.preventDefault();
	        	let title = $("#titleInput").val();
	        	let contents = $('#summernote').summernote('code');
	        	let categoryId = $("#categoryIdInput").val();
	        	let headcount = $("#headcountInput").val();
	        	
	        	$.ajax({
	        		type:"post"
	        		, url:"/post/create"
	        		, data:{"title":title, "contents":contents, "categoryId":categoryId, "imagePath": uploadedImageUrl
	        			, "headcount":headcount}
	        		, success:function(response){
	        			if(response.result=="success"){
	        				location.href="/category/view/allpost?categoryId="+categoryId;
 			//	location.href = "/post/view/" + response.postId; 포스트아이디 같이 보내는법
	        			} else {
	        				alert("글 저장 실패");
	        			}
	        		}
	        		, error:function(){
	        			alert("글 저장 중 에러 발생");
	        		}
	        	});
	        	
	        });
	        

	        
        </script>
        
</html>