<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        <!--  게시글 작성 페이지,  summernote 분석해서 적용하자.
        그 전에 일단 기본적인 input  구현해서 테스트 만 하는것도 괜찮다.  -->
       	    <div class="container mt-4">
		      <h2>게시글 작성</h2>
		      <form>
		      	<div>
		      		<label>제목</label><input type="text" id="titleInput" class="form-control col-8">
		      	</div>
		        <div class="form-group">
		          <label for="summernote">내용</label>
		          <div id="summernote"></div>
		        </div>
		        <input type="hidden" id="categoryIdInput" th:value="${categoryId}">
		        <button type="submit" id="saveBtn" class="btn btn-primary mt-2" th:value="${categoryId}">저장</button>
		      </form>
		    </div>
			        	
        </section>
        
        
        
        <script layout:fragment="script">
	        $(document).ready(function() {
	            $('#summernote').summernote({
	              placeholder: '내용을 입력하세요',
	              height: 300,
	              lang: 'ko-KR'
	            });
	          });
	        
	        $("#saveBtn").on("click", function(e){
	        	e.preventDefault();
	        	let title = $("#titleInput").val();
	        	let contents = $('#summernote').summernote('code');
	        	let categoryId = $("#categoryIdInput").val();
	        	// 버튼에 부여한 값으로 가져오려고 했는데, 카테고리id  가 안넘어감. 왜그런걸까?
	        	$.ajax({
	        		type:"post"
	        		, url:"/post/create"
	        		, data:{"title":title, "contents":contents, "categoryId":categoryId}
	        		, success:function(response){
	        			if(response.result=="success"){
	        				location.href="/category/view/allpost";
 			//	location.href = "/post/view/" + response.postId; 포스트아이디 같이 보내는법
	        			} else {
	        				alert("글 저장 실패");
	        			}
	        		}
	        		, error:function(){
	        			alert("글 저장 중 에러 발생");
	        		}
	        	});
	        	
	        });
	        
	        //Required request parameter 'categoryId' for method parameter type long is not present
	        // 400 에러 , 
	        
        </script>
        
</html>