<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        	
        	<div>
        		<!-- 테이블 2개 , 해시태그 나열 1개 -->
        		<div>
        			<h5 class="mt-5 ml-3">글 리스트</h5>
	        		<table class="table text-center p-2">
	        			<tr>
	        				<td>게시글 번호 1.</td>
	        				<td>제목</td>
	        				<td>카테고리</td>
	        				
	        				<td>모집시행시, 깃발아이콘 + 숫자</td>
	        			</tr>
	        			<tr>
	        				<td>게시글 번호 1.</td>
	        				<td>제목</td>
	        				<td>카테고리</td>
	        				
	        				<td>모집시행시, 깃발아이콘 + 숫자</td>
	        			</tr>
	        			<tr>
	        				<td>게시글 번호 1.</td>
	        				<td>제목</td>
	        				<td>카테고리</td>
	        				
	        				<td>모집시행시, 깃발아이콘 + 숫자</td>
	        			</tr>
	        		</table>
        		</div>
        		
        		<div>
        			<h5 class="mt-2 ml-3">카테고리 리스트</h5>
        			<table class="table text-center p-2">
	        			<tr>
	        				<td>카테고리 명</td>
	        				<td>글 개수</td>
	        				<td>관심 누른 사람 수 </td>
	        				<td>활성화 된 모집시행 수 </td>
	        			</tr>
	        			<tr>
	        				<td>카테고리 명</td>
	        				<td>글 개수</td>
	        				<td>관심 누른 사람 수 </td>
	        				<td>활성화 된 모집시행 수 </td>
	        			</tr>
	        			<tr>
	        				<td>카테고리 명</td>
	        				<td>글 개수</td>
	        				<td>관심 누른 사람 수 </td>
	        				<td>활성화 된 모집시행 수 </td>
	        			</tr>
	        		</table>
        		</div>
        		
        		<div>
        			<h5 class="mt-2 ml-3">해시태그</h5>
        			<div class="hashtag-container mb-5 p-2">
					  <span>#등산</span>
					  <span>#여유</span>
					  <span>#기록달성</span>
					  <span>#스피드런</span>
					  <span>#밝은분위기</span>
					  <!-- 추가 해시태그들 쭉 나열하자.-->
					</div>
        			
        		</div>
        	</div>
        
        
        </section>
        
        
        
        <script layout:fragment="script">
        
        </script>
        
</html>