<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        	
        	<div>
        		<!-- 테이블 2개 , 해시태그 나열 1개 -->
        		<div>
        			<h5 class="mt-5 ml-3">글 리스트</h5>
	        		<table class="table text-center p-2">
	        			<thead>
		        			<tr>
		        				<th>게시글 번호 </th>
		        				<th>제목</th>
		        				<th>카테고리</th>
		        				<th>모집시행시, 깃발아이콘 + 숫자</th>
		        			</tr>
	        			</thead>
	        			<tbody>
	        				<tr th:each="post : ${postList}">
		        				<td th:text="${post.id}">게시글 번호 1.</td>
		        				<td th:text="${post.title}">제목</td>
		        				<td th:text="${post.categoryName}">카테고리</td>
		        				<td >모집시행시, 깃발아이콘 + 숫자</td>
		        			</tr>
	        			</tbody>
	        			
	        		</table>
        		</div>
        		
        		<div>
        			<h5 class="mt-2 ml-3">카테고리 리스트</h5>
        			<table class="table text-center p-2">
        				<thead>
		        			<tr>
		        				<th>카테고리 명</th>
		        				<th>글 개수</th>
		        				<th>관심 누른 사람 수 </th>
		        				<th>활성화 된 모집시행 수 </th>
		        			</tr>
	        			</thead>
	        			<tbody>
	        				<tr th:each="category : ${categoryList}">
		        				<td th:text="${category.name}">카테고리 명</td>
		        				<td th:text="|${category.postNumber}개|">글 개수</td>
		        				<td>관심 누른 사람 수 </td>
		        				<td>활성화 된 모집시행 수 </td>
		        			</tr>
	        			</tbody>
	        			
	        		</table>
        		</div>
        		
        		<div>
        			<h5 class="mt-2 ml-3">해시태그</h5>
        			<div class="hashtag-container mb-5 p-2">
					  <span>#등산</span>
					  <span>#여유</span>
					  <span>#기록달성</span>
					  <span>#스피드런</span>
					  <span>#밝은분위기</span>
					  <!-- 추가 해시태그들 쭉 나열하자.-->
					</div>
        			
        		</div>
        	</div>
        
        
        </section>
        
        
        
        <script layout:fragment="script">
        
        </script>
        
</html>