<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        <!--  게시글의 내용을 보여주는 페이지,  summernote  분석 필요하다. 
        		post 로 postDto 받아서 사용하면 됨, 
        -->
        
        <div class="post-detail">
	        
	        <div class="post-header mt-4">
	            <h1 th:text="${post.title}" >제목</h1>
	            <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
	        </div>
			<hr>
	        
	        <div class="post-author" th:text="'작성자: ' + ${post.nickname}">작성자</div>
	
	        <!-- 
	        <div th:if="${post.imagePath != null and !#strings.isEmpty(post.imagePath)}">
	            <img class="post-image" th:src="@{${post.imagePath}}" alt="게시글 이미지">
	        </div>
	 -->
	        
	        <div class="post-contents mb-4" th:utext="${post.contents}">내용</div>
	        <!-- 							th:utext 가 태그를 해석해서 내놓은다., 
	        			그러니까 서머노트가 원래 이렇게 쓰라고 해놓은거네, 굳이 다듬고 깎고 할 필요 없이,
	        			대신에 이렇게 하면 contents 안에 들어가있는 이미지이기 때문에, 삭제할 때 골치 아프다. 
	        			삭제는 나중에 고민해보자.  	 -->
	        <hr>
    	</div>
        
        <div th:if="${post.headcount != 0}" class="text-center my-3">
        	<i class="bi bi-flag-fill"></i>
        	<span th:classappend="${post.currentNumber == post.headcount} ? 'text-success'" 
      			th:text="${post.currentNumber + ' / ' + post.headcount}">0 / 5</span>
      			
      			<button type="button"
			          th:if="${post.currentNumber < post.headcount}"
			          class="btn btn-primary btn-sm ms-2 ml-5"
			          data-toggle="modal" data-target="#exampleModal">
			    신청
			  </button>
      			
        	<hr>
        </div>
        
        
		        <!-- 모달 -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">신청 내용</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
	     	<div class="modal-body">
		        <div class="form-group">
		          <label for="introduce">자기소개</label>
		          <textarea id="introduceInput" class="form-control" rows="4" placeholder="간단한 자기소개를 입력하세요"></textarea>
		        </div>
	      	</div>
		     
		      
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		        <button type="button" class="btn btn-success" id="requestBtn" th:data-joinflag-id="${joinflagId}">요청</button>
		      </div>
		    </div>
		  </div>
		</div>
        
        
        
        
        
        <div class="text-center my-3">
        	<a th:href="|/category/view/allpost?categoryId=${post.categoryId}|" th:text="|${post.categoryName} 로 이동하기|" class="btn btn-primary">등산</a>
        </div>
        
        
        <div>
        	<!-- 댓글 가져와서 보여주기  -->
        	<table class="table text-center p-2">
        		<tr th:each="comment : ${comments}">
        			<td th:text="${comment.nickname}">작성자</td>
        			<td th:text="${comment.contents}">내용</td>
        			<td th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">작성시간</td>
        		</tr>
        	</table>
        </div>
        
        <div>
        	<!-- 댓글 input 창 생성  -->
		    <div class="d-flex flex-row align-items-start justify-content-between my-3 p-2 ">
    			<textarea class="form-control p-2 col-10" id="contentsInput" rows="3"  placeholder="댓글을 입력하세요..." ></textarea>
    
			    <button type="button" 
			            class="btn btn-outline-secondary  mr-5 mt-4" 
			            id="commentBtn" 
			            th:data-post-id="${post.id}">
			        댓글달기
			    </button>
			</div>
        </div>
        
        </section>
        
        
        
        <script layout:fragment="script">
        	$("#commentBtn").on("click", function(){
        		let contents = $("#contentsInput").val();
        		let postId = $(this).data("post-id")
        		
        		$.ajax({
        			type:"post"
        			, url:"/comment/create"
        			, data:{"contents":contents, "postId":postId}
        			, success:function(response){
        				if(response.result=="success"){
        					location.reload();
        				} else {
        					alert("댓글 달기 실패");;
        				}
        			}
        			, error:function(){
        				alert("댓글 저장 중 에러 발생");
        			}
        		});
        	});
        
        	$("#requestBtn").on("click", function(){
        		
        		let description = $("#introduceInput").val();
        		let joinflagId = $(this).data("joinflag-id");
        		
        		$.ajax({
        			type:"post"
        			, url:"/joinrequest/create"
        			, data:{"description":description, "joinflagId":joinflagId}
        			, success:function(response){
        				if(response.result=="success"){
        					alert("신청 성공");
        					$("#applyModal").modal("hide"); // 모달 닫기
        					// 요청을 보낸 이후, currentNumber 값이 오르는지 확인하려면, 이 게시글 디테일 페이지를 다시 로드해야해, 
        					// 아 생각해보니, 바로 오르면 안되네, 마이페이지에서 승인하는거니까, 
        					// 당장 모달창만 닫는게 맞는듯, 
        				} else {
        					alert("모집 요청 실패");
        				}
        			}
        			, error:function(){
        				alert("모집 요청 중 에러 발생");
        			}
        		});	
        	});
        	
        	
        
        </script>
        
</html>