<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userdefault}">
        
        
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	
        	<div class="d-flex align-items-center justify-content-center">
	        	<div class="loginborder">
		        	<h3 class="text-center">로그인</h3>
	        		<form id="loginForm">
	        			
	        			<label>이메일</label><input type="text" class="form-control" placeholder="이메일을 입력해주세요." >
	        			<label>비밀번호</label><input type ="password" class="form-control" placeholder="비밀번호를 입력해주세요">
	        			<button type="submit" class="btn btn-info btn-block mt-4">로그인</button> 
	        			
	        		</form>
	        		<div class="d-flex justify-content-between my-4">
	        			<button type="" class="btn btn-secondary col-5 mt-3" >간편 로그인</button>
	        			<button type="" class="btn btn-secondary col-5 mt-3">회원가입</button>
	        		</div>
	        	</div>
        	</div>
        
        
        
        </section>
        

	<script layout:fragment="script">
	
	
	
	
	</script>














        
</html>