		<header class="prbg" style="display: grid; grid-template-columns: 1fr 2fr 1fr; height: 100px;">
		  <div></div>
		  <div style="display: flex; align-items: center; justify-content: center;">
		    <h1>W/Buddy</h1>
		  </div>
		  <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; height: 100%;">
    		<nav class="navbar navbar-expand ">
					<ul class="navbar-nav">
						<li th:if="${session.userId !=null}" class="nav-item">
							<a class="nav-link text-white" href="/user/view/mypage">마이페이지</a>
						</li>
						<li th:if="${session.userId == null}" class="nav-item">
							<a class="nav-link text-white" href="/user/view/login">로그인</a>
						</li>
						<li th:if="${session.userId !=null}" class="nav-item">
							<a class="nav-link text-white" href="/user/logout">로그아웃</a>
						</li>
					</ul>
			</nav>
				
			</div>
			
			
			
			<!--  session 기반 (userId)일단은 다 보여주자.  마이페이지 nav 바와, 로그인 로그아웃 등 표현 
			
					메뉴 nav 바 생성,  -->
		
			<div>
				<span></span>
			</div>
			
		
		
		
		</header>
		<div class="navbg">
			<nav class=" " style="height: 50px;">
			  <ul class="nav d-flex h-100 justify-content-around align-items-center text-white">
			  	<li class="nav-item"><a class="nav-link text-dark" href="/post/view/mainpage">메인페이지</a></li>
			    <li class="nav-item"><a class="nav-link text-dark" href="/post/view/allpost">전체 글 보기</a></li>
			    <li class="nav-item"><a class="nav-link text-dark" href="/category/view/allcategory">카테고리 보기</a></li>
			    <li class="nav-item"><a class="nav-link text-dark" href="/hashtag/view">해시태그 보기</a></li>
			  </ul>
			</nav>
		</div>