@charset "UTF-8";


#wrap {
	
	width : 1200px;
	margin : 0 auto;
}

header {
	height : 100px;
	
}


footer {
	height : 100px;
}

.contents {
	height : 800px;
	
}

.loginborder {
  border: 1px solid #ccc; /* 외곽선 */
  padding: 30px;          /* 내부 여백 */
  border-radius: 10px;    /* 모서리 둥글게 */
  background-color: #f9f9f9; /* 배경색 (선택사항) */
  width: 400px;
  max-width: 100%;       /* 폼 너비 제한 */
  
}

.loginborder .form-control {
  margin-bottom: 15px;    /* 인풋 사이 간격 */
}

.loginborder .btn-block {
  margin-top: 10px;
}

.loginborder .btn-secondary {
  width: 48%;             /* 버튼 너비 조절 */
}

.hashtag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 해시태그 사이 여백 */
}

.hashtag-container span {
  background-color: #f0f0f0;
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.prbg{
	background-color: #7D85DD;
}
.navbg{
	background-color: #B1B6F0;
}
.footerbg{
	background-color: #CCCACA;
}


.category-link {
  color: black;
  text-decoration: none;
  display: inline-block; /* 배경 적용 위해 block 속성 */
  /*padding: 4px 8px;*/
  transition: background-color 0.2s ease, color 0.2s ease;
}

.category-link:hover {
  background-color: #eaeaea; /* 연한 회색 */
  color: gray !important;     /* 회색 글씨, 강제 적용 */
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-author {
    margin-top: 8px;
    font-weight: bold;
    color: #555;
}
.post-image {
    margin-top: 16px;
    max-width: 100%;
    height: auto;
}
.post-contents {
    margin-top: 16px;
    white-space: pre-wrap;
}

/* 수락 */
.request-accepted {
    background-color: #d4edda; /* 연한 초록색 */
    opacity: 0.7;
    transition: background-color 0.3s ease;
}

/* 거절 */
.request-denied {
    background-color: #f8d7da; /* 연한 붉은색 */
    opacity: 0.7;
    transition: background-color 0.3s ease;
}

/* 상태 텍스트 */
.status-label {
    font-weight: bold;
    margin-left: 10px;
}

.tag-input {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  border-radius: 12px;
}




