<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        <!--  모든 카테고리 가져와서 테이블 형식으로 보여주기, 
        여기에 카테고리 생성 버튼 있는데,  세션정보 userId 없으면 안보여, 
        
         -->
         	<div>
         		<div class="d-flex justify-content-between">
       				<h5 class="mt-4 ml-4">카테고리 리스트</h5>
       				<a th:if="${session.userId != null}" class="btn btn-sm btn-secondary mt-4" href="/category/view/create">카테고리 추가</a>

       				
       			</div>
       			<table class="table text-center p-2 mt-2">
       				<!--  카테고리 정보를 가져와서 테이블 형식으로 보여주고, 
       					각 카테고리 row 마다 클릭할 수 있게 해야하는데,  -->
        			<thead>
        				<tr>
        					<th>카테고리 no.</th>
        					<th>생성자</th>
        					<th>카테고리 이름</th>
        					<th>카테고리 설명</th>
        					<th>생성시간</th>
        					<th> 관심 버튼 </th>
        					<th>총 모집중인 인원 수</th>
        				</tr>
        			</thead>
        			<tbody>
	        			
	        			<tr th:each="category, index : ${categoryList}">
	        				<td th:text="${category.id}">1.</td>
	        				<td th:text="${category.nickname}">ds04011</td>
	        				<td><a th:href="|/category/view/allpost?categoryId=${category.id}|" th:text="${category.name}" class="category-link">등산</a></td>
	        				<td th:text="${category.description}">산을 올라요</td>
	        				<td th:text="${#temporals.format(category.createdAt, 'yyyy, M, d, a h시 m분') }">11.11.11</td>
	        				<td>
	        				
	        					<button class="btn btn-sm btn-secondary interestAddBtn" th:if="${category.isInterest == 0}"  th:data-category-id="${category.id}">
							        <i class="bi bi-plus-circle"></i> 관심등록
							    </button>
							
							    
							    <button class="btn btn-sm btn-secondary interestCancelBtn" th:if="${category.isInterest == 1}"  th:data-category-id="${category.id}">
							        <i class="bi bi-check-circle"></i> 관심
							    </button>
	        				
	        				</td>
	        				<td>4</td>
	        				<!-- sjpoint -->
	        			</tr>
	        			
        			</tbody>
        		</table>
       			
       			
       		</div>
         
         
         
        </section>
        
        
        
        <script layout:fragment="script">
        	
	        $(".interestAddBtn").on("click", function(){
	    		
	    		let categoryId = $(this).data("category-id");
	    		
	    		$.ajax({
	    			type:"post"
	    			, url:"/interest/create"
	    			, data:{"categoryId":categoryId}
	    			, success:function(response){
	    				if(response.result=="success"){
	    					location.reload();
	    				} else {
	    					alert("관심 등록 실패");
	    				}
	    			}
	    			, error:function(){
	    				alert("관심 등록 중 에러 발생");
	    			}
	    		});
	    	});
	    	
	    	
			$(".interestCancelBtn").on("click", function(){
	    		
	    		let categoryId = $(this).data("category-id");
	    		
	    		$.ajax({
	    			type:"delete"
	    			, url:"/interest/delete"
	    			, data:{"categoryId":categoryId}
	    			, success:function(response){
	    				if(response.result=="success"){
	    					location.reload();
	    				} else {
	    					alert("관심 삭제 실패");
	    				}
	    			}
	    			, error:function(){
	    				alert("관심 삭제 중 에러 발생");
	    			}
	    		});
	    	});
        
        
        </script>
        
</html>