<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mainpagedefault}">
        
        
        <section layout:fragment="contents">
        <!--  해당 카테고리에 속하는 게시글들 가져와서 테이블 형식으로 보여주기  -->
        	<div>
        		<h4 th:text="${categoryName}" class="text-center mt-4">카테고리명</h4>
		        <div class="d-flex justify-content-between my-1">	
       				<h5 class="mt-5 ml-3">글 리스트</h5>
       				<div class="mt-5">
       				
       					<button class="btn btn-sm btn-secondary" th:if="${isInterest == 0}" id="interestAddBtn" th:data-category-id="${categoryId}">
					        <i class="bi bi-plus-circle"></i> 관심등록
					    </button>
					
					    <!-- isInterest가 1일 때: 관심 있음 버튼 (체크 아이콘) -->
					    <button class="btn btn-sm btn-secondary" th:if="${isInterest == 1}" id="interestCancelBtn" th:data-category-id="${categoryId}">
					        <i class="bi bi-check-circle"></i> 관심
					    </button>
       					
       					
       					<a class="btn btn-sm btn-secondary " th:href="|/post/view/create?categoryId=${categoryId}|">글쓰기</a>
       				</div>
       			</div>
        		<table class="table text-center p-2">
        			<thead>
	        			<tr>
	        				<th>게시글 번호 </th>
	        				<th>제목</th>
	        				<th>카테고리</th>
	        				
	        				<th>모집, 숫자</th>
	        			</tr>
        			</thead>
        			<tbody>
	        			<tr th:each="post : ${postList}">
	        				<td th:text="${post.id}">게시글 번호 1.</td>
	        				<td><a th:href="|/post/view/detail?postId=${post.id}|" th:text="${post.title}" class="category-link">등산</a></td>
	        				<td th:text="${post.categoryName}">카테고리</td>
	        				
	        				<td>
	        					<span th:if="${post.headcount !=0 }">
		        						<i class="bi bi-flag-fill"></i>
		        						<span th:classappend="${post.currentNumber == post.headcount} ? 'text-success'" 
      										th:text="${post.currentNumber + ' / ' + post.headcount}">0 / 5</span>
		        					</span>
		        					
		        					<span th:if="${post.headcount == 0 }">
		        						
		        					</span>
	        				</td>
	        			</tr>
        			</tbody>
        		</table>
       		</div>
        
        
        </section>
        	
        	
        
        
        <script layout:fragment="script">
        	$("#interestAddBtn").on("click", function(){
        		
        		let categoryId = $(this).data("category-id");
        		
        		$.ajax({
        			type:"post"
        			, url:"/interest/create"
        			, data:{"categoryId":categoryId}
        			, success:function(response){
        				if(response.result=="success"){
        					location.reload();
        				} else {
        					alert("관심 등록 실패");
        				}
        			}
        			, error:function(){
        				alert("관심 등록 중 에러 발생");
        			}
        		});
        	});
        	
        	
			$("#interestCancelBtn").on("click", function(){
        		
        		let categoryId = $(this).data("category-id");
        		
        		$.ajax({
        			type:"delete"
        			, url:"/interest/delete"
        			, data:{"categoryId":categoryId}
        			, success:function(response){
        				if(response.result=="success"){
        					location.reload();
        				} else {
        					alert("관심 삭제 실패");
        				}
        			}
        			, error:function(){
        				alert("관심 삭제 중 에러 발생");
        			}
        		});
        	});
        
        
        </script>
        
</html>